<!DOCTYPE html>
<html>
  <head>
    <title>JW-REVIEW</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">
    <meta property="og:title" content="리뷰 - <%=title%>">
    <link type="text/css" rel="stylesheet" href="dist/css/base.css" />
    <link type="text/css" rel="stylesheet" href="dist/css/markdown.css" />
    <link type="text/css" rel="stylesheet" href="dist/css/review.css" />
  </head>
  <body>
    <div>
      <div class="markdown-body">
        <%-note%>
      </div>
    </div>
  </body>
</html>
